* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

body {
  font-family: varela;
  /* background: rgb(54, 69, 79); */
  background: #192734;
  color: #fff;
}

@font-face {
  font-family: varela;
  src: url("../assets/varela.ttf");
}

ul {
  list-style-type: none;
  padding-right: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 0;
}
button,
input {
  font-family: vazir;
  font-size: 1rem;
}
